.profile-form {
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
  }
  .form-control:focus {
    border: 1px solid #ffc107;
  }
  #output{
    border-radius: 15%;
  }
  input[type="file"] {
    display: none;
  }
  label.lable {
    cursor: pointer;
  }
  #output:hover {
    box-shadow: 0px 0px 10px 3px #ffc107;
    transition: 0.2s;
  }
  #avatar{
    display: none;
  }
  .input-info{
    color: grey;
    font-style: italic;
    font-size: 12px;
  }
  .status {
    background-color: rgb(176, 243, 176);
  }
  .status_error {
    background-color: rgb(255, 122, 122)
  }